* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 15px;
  position: absolute;
}

.box {
  width: 100px;
  height: 100px;
}

.busted {
  background-color: blueviolet;
}